
@font-face {
    font-family: 'homestead_display';
    src: url('../fonts/homestead-display-webfont.eot');
    src: url('../fonts/homestead-display-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/homestead-display-webfont.woff2') format('woff2'),
         url('../fonts/homestead-display-webfont.woff') format('woff'),
         url('../fonts/homestead-display-webfont.ttf') format('truetype'),
         url('../fonts/homestead-display-webfont.svg#homestead_display') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'homestead_inlineinline';
    src: url('../fonts/homestead-inline-webfont.eot');
    src: url('../fonts/homestead-inline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/homestead-inline-webfont.woff2') format('woff2'),
         url('../fonts/homestead-inline-webfont.woff') format('woff'),
         url('../fonts/homestead-inline-webfont.ttf') format('truetype'),
         url('../fonts/homestead-inline-webfont.svg#homestead_inlineinline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'homestead_oneone';
    src: url('../fonts/homestead-one-webfont.eot');
    src: url('../fonts/homestead-one-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/homestead-one-webfont.woff2') format('woff2'),
         url('../fonts/homestead-one-webfont.woff') format('woff'),
         url('../fonts/homestead-one-webfont.ttf') format('truetype'),
         url('../fonts/homestead-one-webfont.svg#homestead_oneone') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'homestead_regular';
    src: url('../fonts/homestead-regular-webfont.eot');
    src: url('../fonts/homestead-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/homestead-regular-webfont.woff2') format('woff2'),
         url('../fonts/homestead-regular-webfont.woff') format('woff'),
         url('../fonts/homestead-regular-webfont.ttf') format('truetype'),
         url('../fonts/homestead-regular-webfont.svg#homestead_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?skvg2i');
    src:url('../fonts/icomoon.eot?#iefixskvg2i') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?skvg2i') format('truetype'),
        url('../fonts/icomoon.woff?skvg2i') format('woff'),
        url('../fonts/icomoon.svg?skvg2i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-jjm29:before {
    content: "\e616";
}
.ico-jjm30:before {
    content: "\e617";
}
.ico-jjm26:before {
    content: "\e618";
}
.ico-jjm27:before {
    content: "\e619";
}
.ico-jjm28:before {
    content: "\e61a";
}
.ico-jjm24:before {
    content: "\e61b";
}
.ico-jjm25:before {
    content: "\e61c";
}
.ico-jjm1:before {
    content: "\e600";
}
.ico-jjm2:before {
    content: "\e601";
}
.ico-jjm3:before {
    content: "\e602";
}
.ico-jjm4:before {
    content: "\e603";
}
.ico-jjm5:before {
    content: "\e604";
}
.ico-jjm6:before {
    content: "\e605";
}
.ico-jjm7:before {
    content: "\e606";
}
.ico-jjm8:before {
    content: "\e607";
}
.ico-jjm9:before {
    content: "\e608";
}
.ico-jjm10:before {
    content: "\e609";
}
.ico-jjm11:before {
    content: "\e60a";
}
.ico-jjm12:before {
    content: "\e60b";
}
.ico-jjm13:before {
    content: "\e60c";
}
.ico-jjm15:before {
    content: "\e60d";
}
.ico-jjm16:before {
    content: "\e60e";
}
.ico-jjm17:before {
    content: "\e60f";
}
.ico-jjm18:before {
    content: "\e610";
}
.ico-jjm19:before {
    content: "\e611";
}
.ico-jjm20:before {
    content: "\e612";
}
.ico-jjm21:before {
    content: "\e613";
}
.ico-jjm22:before {
    content: "\e614";
}
.ico-jjm23:before {
    content: "\e615";
}


