// color variables
// $color1_a: #4C4C9A;    
// $color1_b: #A1A1D4;
// $color1_c: #6F6FB4;
// $color1_d: #333386;
// $color1_e: #1E1E6A;

$color1_a: rgba( 76, 76,154,1);    
$color1_b: rgba(161,161,212,1);
$color1_c: rgba(111,111,180,1);
$color1_d: rgba( 51, 51,134,1);
$color1_e: rgba( 30, 30,106,1);


// $color2_a: #DCA459;    
// $color2_b: #FFE0B7;
// $color2_c: #FFCE8D;
// $color2_d: #BF8434;
// $color2_e: #986017;

$color2_a: rgba(220,164, 89,1);     
$color2_b: rgba(255,224,183,1);
$color2_c: rgba(255,206,141,1);
$color2_d: rgba(191,132, 52,1);
$color2_e: rgba(152, 96, 23,1);

$color3: #df4e5e;
$color3a: rgba(223,78,94, 0.8);
$colorCTA: #df4e5e;
$colorCTAdark: #CB293C;
